<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원가입 -->
<mapper namespace="funi_memberMapper">	

	<insert id="insertData" parameterType="com.funi.domain.MemberDTO">
		insert into fumember (email,pwd,name,phone,salt,addr1,addr2,addr3,enableEmail) 
		values (#{email},#{pwd},#{name},#{phone},#{salt},#{addr1},#{addr2},#{addr3},#{enableEmail})
	</insert>
	<update id="emailSuccess" parameterType="com.funi.domain.MemberDTO">
		update fumember set enableEmail=1 where email=#{email}
	</update>
	<select id="getReadData" parameterType="Integer" resultType="com.funi.domain.MemberDTO">
		select email from fumember where email=#{email}
	</select>
	<!-- 회원 조회  -->
	<select id ="searchID" parameterType="Map" resultType="Integer">
		select count(email) from fumember where email=#{email}
	</select>
	<!-- 회원 조회  -->
	<select id ="searchMember" parameterType="Map" resultType="com.funi.domain.MemberDTO">
		select email,pwd,name,substr(phone,4) phone,salt,addr1,addr2,addr3,enableEmail from fumember where email=#{email}
	</select>
	<update id="update_pw" parameterType="com.funi.domain.MemberDTO">
		update fumember set pwd=#{pwd} where email = #{email}
	</update>
	<!-- 회원 수정  -->
	<update id="update_myInfo" parameterType="com.funi.domain.MemberDTO">
		update fumember set pwd=#{pwd},name=#{name},phone=#{phone},addr1=#{addr1},addr2=#{addr2},addr3=#{addr3} where email = #{email}
	</update>
	<delete id="deleteMember" parameterType="Map">
		delete fumember where email=#{email}
	</delete>
</mapper>