<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="livingMapper">

<!-- 이미지 넣어놓기 -->
<insert id="insertData" parameterType="com.funi.domain.FurnitureDTO">
	insert into livingroom (imageIndex, productName, cateEn, cate, price, saveFileName)
	values (#{imageIndex}, #{productName}, #{cateEn}, #{cate}, #{price}, #{saveFileName})
</insert>

<!-- 페이징 부분 -->
<select id="getDataCount" parameterType="map" resultType="int">
	select nvl(count(*), 0) from livingroom
	where productName like '%' || #{searchValue} || '%'
</select>

<!-- 카테고리&검색 카운트 -->
<select id="getCateDataCount" parameterType="map" resultType="int"> 
	select nvl(count(*),0) from livingroom 
	where cateEn=#{cateEn} and productName like '%' || #{searchValue} || '%'
</select>

<!-- 전체 데이터 -->
<select id="livingimageList" resultType="com.funi.domain.FurnitureDTO">
	select * from (
	select rownum rnum, data.* from (
	select imageIndex, productName, cateEn, cate, to_char(price, '999,999,999') as price, saveFileName from livingroom
	where cate like '%' || #{searchValue} || '%' or productName like '%' || #{searchValue} || '%'
	order by imageIndex desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 카테고리 검색&페이지 -->
<select id="CateSimageList" resultType="com.funi.domain.FurnitureDTO" parameterType="Map">
	select * from (
	select rownum rnum, data.* from (
	select imageIndex, productName, cateEn, cate, to_char(price, '999,999,999') as price, saveFileName from livingroom 
	where cateEn=#{cateEn} and productName like '%' || #{searchValue} || '%'
	order by imageIndex desc) data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 카테고리 데이터 -->
<select id="CateimageList" resultType="com.funi.domain.FurnitureDTO" parameterType="Map">
	select imageIndex, productName, cateEn, cate, to_char(price, '999,999,999') as price, saveFileName from livingroom
	where cateEn=#{cateEn} order by imageIndex desc
</select>

<!-- 한 개의 데이터 -->
<select id="getReadData" resultType="com.funi.domain.FurnitureDTO" parameterType="Map">
	select  imageIndex, productName, cateEn, cate, to_char(price, '999,999,999') as price, saveFileName from livingroom where imageIndex=#{imageIndex} and cateEn=#{cateEn} 
</select>
	
</mapper>